/* 
COLOR THEME
https://www.colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb 
*/

body {
    font-family: "Montserrat";
}

.top-bar {
    background-color: #1A120B;
    color: #E5E5CB;

    width: 100%;
    height: 100px;
    position: fixed;

    font-weight: bold;
}

.top-fonts {
    color: #D5CEA3;
}

.btn {
    border-radius: 10px;
    font-weight: bold;
    width: 25%;
    margin: 5px 2% 5px 2%;
    height: 10mm;
}

.btn:hover {
    color: #62CDFF;
}

hr {
    margin: 0 16px 0 16px;
    border-top: 1px dashed #E5E5CB;
}

.bottom-main-bar {
    height: 30px;
}

.main-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eraser {
    clear: both;
}

main {
    background-color: #3C2A21;
    color: #E5E5CB;
    font-size: 2rem;
    
    padding: 20px;
    text-align: left;
    padding-top: 50px;
}
