/* 
COLOR THEME
https://www.colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb 
*/

body {
    font-family: "Montserrat";
}

h1.main-heading {
    text-align: center;
    color: #E5E5CB;
    font-family: "Montserrat", sans-serif;

    font-size: 2rem;
    font-weight: 900;

    padding: 20px;
}

.top-bar {
    background-color: #1A120B;
    color: #E5E5CB;

    width: 100%;
    height: 100px;
    position: fixed;

    font-weight: bold;
}

.btn {
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}

.btn:hover {
    color: #D5CEA3;
}

.bottom-main-bar {
    
}

.main-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eraser {
    clear: both;
}

main {
    background-color: #3C2A21;
    color: #E5E5CB;
    font-size: 2rem;
    
    padding: 20px;
    text-align: left;
    padding-top: 50px;
}
