/* https://www.colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
    background-color: #3C2A21;
    
    font-family: "Montserrat";
    text-align: center;
}

h1.main-heading {
    text-align: center;
    color: #E5E5CB;
    font-family: "Montserrat", sans-serif;

    font-size: 2rem;
    font-weight: 900;

    padding: 20px;
}

.navbar {
    background-color: #1A120B;
}